.content{
    padding: 0;
    margin: 0;
    /* background-image:url("img/janu.jpg"); */
}
.navigation{
    display: flex;
    justify-content: right;
    color: rgb(218, 13, 13);
    background-color: rgba(43, 158, 224, 0.411);

}
/* .carousel-inner > .item > img {
  width:640px;
  height: 75vh;
} */

/* .carousel .item {
  width: 100%;
  /*slider width */
/* }
.carousel .item img {
  width: 100%;
  img width*/
/* } */
/* .container {
  width: 100%;
} */ */


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;

    }
  }